.recipe-ingredients-item {
    color: black;
    font-weight: normal;
}

.recipe-ingredients-item-border {
    position: relative;
    border-bottom: 1px dotted silver;
    width: 80%;
    left: 3vw;
}

.recipe-ingredients-quantity {
    text-align: right;
    color: orangered;
    font-weight: bold;
    white-space: nowrap;
}
 
.recipe-directions-item {
    list-style: none;
}

.recipe-directions-counter-box {
    position: relative;
    width: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3vh;
    color: orangered;
    text-align: center;
    -webkit-font-smoothing: auto;
    box-sizing: border-box;
    top: -0.3vh;
    left: 1.6vw;
}

.recipe-directions-counter {
    position: relative;
    top: -0.2vh;
}

.recipe-instruction-item-pad {
    padding-right: 3.0vw;
}

.recipe-instructions-pad {
    padding: 2.7vh 2.9vw 2.0vh 0vw;
}

.recipe-color-blue {
    background-color: #d9edf7; 
}

.recipe-color-green {
    background-color: #dff0d8;
}

.jumbotron-pad {
    padding-top: 2.0vh;
    padding-bottom: 2.0vh;
}

.recipe-baking-pad {
    position: relative;
    top: -1vh;
    padding-bottom: 1.7vh;
}

.recipe-panel-header-font {
    font-size: 1.5vmax;
}

.recipe-set-part-ing {
    color: forestgreen;
    padding-left: 0.9vw;
    font-style: italic;
}

.recipe-set-part-ins {
    color: forestgreen;
    padding-left: 1.9vw;
    font-style: italic;
}
