@{
    ViewBag.Title = "Home";
}

<div class="well">
    <!--RecipeStartTag-->
    <p>
        <div style="color:#C47451; font-weight:bold; font-size:22pt; text-align:center;">
            <!--TitleStartTag-->Pizza Crust<!--TitleEndTag-->
        </div>
        <div style="font-style:italic; text-align:center; color:#6F4E37;">
            <!--RecipeDescriptionStartTag-->Pizza or Calzone Crust<!--RecipeDescriptionEndTag-->
        </div>
        <hr style="width:95%;"

    </p>
    <div style="font-weight:bold; font-style:italic; text-align:center;">
        <p><!--CookTypeStartTag-->Bake at 550 as Pizza about10 mins or done<!--CookTypeEndTag--></p>
    </div>
    <!--MealTypeStartTag--><!--Dinner,Lunch--><!--MealTypeEndTag--><div style="float:left; width:300px;">
        <div style="font-size:16pt; color:#C47451; padding-left:10px;">Ingredients:</div>
        <div style="color:#4E8975; font-size:12pt; padding-left:10px; padding:5px;">
            <ul style="list-style-type: disc;"><!--RecipeIngredientsStartTag--><li>1 1/2 cups Water (luke-warm)</li><li>1 package Yeast</li><li>1 cup Wheat Flour</li><li>3 cups Bread Flour</li><li>1/8 tsp Salt</li><li>1/8 tsp white pepper</li><li>1/8 tsp Garlic Powder</li><li>Parmesan Cheese</li><li>1 tbsp Olive Oil</li><!--RecipeIngredientsEndTag--></ul>
        </div>
    </div>
    <div style="font-size:16pt; width:350px; color:#C47451; padding-bottom:5px; padding-left:10px;">Instructions:</div>
    <div style="color:#000000; font-size:12pt; width:350px; padding-left:10px;">
        <!--RecipeInstructionsStartTag--><p>1. Bloom yeast in luke-warm water, about 10 mins.</p><p>2. Combine dry ingredients and cheese.</p><p>3. Make well, pour in yeast water, combine until liquid absorbed.</p><p>4. Knead on table 10-15 times.</p><p>5. Coat rising bowl with olive oil, let dough rise about an hour.</p><p>6. Punch down, knead 5-7 times, quarter, let rise another 10-15 mins.</p><p>7. Create pizza/calzone crust by hand.</p><!--RecipeInstructionsEndTag-->
    </div>
</div>
<div style="font-style:italic; text-indent:15px; color:#6666ff;">
    <p>Notes: <b><!--RecipeNotesStartTag--><!--RecipeNotesEndTag--></b></p>
</div><!--RecipeEndTag-->

