@model Recipe_Organizer_MVC.Models.Recipe

@{
    ViewBag.Title = "Home";
}

<head>
    <link href="~/Content/Recipe.css" rel="stylesheet" type="text/css" />

</head>


@{ 
    Recipe_Organizer_MVC.Models.ConvertOldVersion oldVer = new Recipe_Organizer_MVC.Models.ConvertOldVersion();
    int x = 0;
}

<div class="well">


    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron text-center recipe-color-blue jumbotron-pad">
                <h1>Neato Recipe Title</h1>
                <p><small>Description goes here (be sure to remove p tags if no description....)</small></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-offset-3 recipe-baking-pad">
            <div class="well-sm text-center recipe-color-green">
                <h4><i>Bake at 375 for 45-50 mins</i></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-info">
                <div class="panel-heading text-center">Ingredients (need larger font size)</div>
                <div class="panel-body">


                    @*this will be a 'foreach' from the list of ingredients*@
                    <div class="row">
                        <div class=""></div>
                        <div class="col-xs-4 no-pad">
                            <div class="recipe-ingredients-quantity">1 1/2 cup</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="recipe-ingredients-item">Sugar</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="recipe-ingredients-item-border"></div>
                        <div class="col-xs-4 no-pad">
                            <div class="recipe-ingredients-quantity">1 tsp</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="recipe-ingredients-item">Butter</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="recipe-ingredients-item-border"></div>
                        <div class="col-xs-4 no-pad">
                            <div class="recipe-ingredients-quantity">~3/4 tsp</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="recipe-ingredients-item">cream of tarter</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xs-7">
            <div class="panel panel-info">
                <div class="panel-heading text-center">Instructions (need larger font size)</div>
                <div class="panel-body recipe-instructions-pad">

                    <div class="row recipe-instruction-item-pad">
                        <div class="col-xs-2">
                            <div class="recipe-directions-counter-box pull-right">
                                <div class="recipe-directions-counter">1.</div>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="recipe-directions-item"><p>first, make this then that and more of this. If you don't do that then this might happen, although it still might not. unless of course you don't, then it probably won't.</p></div>
                        </div>
                    </div>

                    <div class="row recipe-instruction-item-pad">
                        <div class="col-xs-2">
                            <div class="recipe-directions-counter-box pull-right">
                                <div class="recipe-directions-counter">2.</div>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="recipe-directions-item"><p>first, make this then that and more of this. If you don't do that then this might happen, although it still might not. unless of course you don't, then it probably won't.</p></div>
                        </div>
                    </div>

                    <div class="row recipe-instruction-item-pad">
                        <div class="col-xs-2">
                            <div class="recipe-directions-counter-box pull-right">
                                <div class="recipe-directions-counter">3.</div>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="recipe-directions-item"><p>first, make this then that and more of this. If you don't do that then this might happen, although it still might not. unless of course you don't, then it probably won't.</p></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-offset-1">
            <div class="well-sm recipe-color-green">
                <i>Notes go here.....</i>
            </div>
        </div>
    </div>
</div>



    @*<div>@Model.Title</div>*@

    @*<!--RecipeStartTag-->
            <p>
                <div style="color:#C47451; font-weight:bold; font-size:22pt; text-align:center;">
                    <!--TitleStartTag-->Pizza Crust<!--TitleEndTag-->
                </div>
                <div style="font-style:italic; text-align:center; color:#6F4E37;">
                    <!--RecipeDescriptionStartTag-->Pizza or Calzone Crust<!--RecipeDescriptionEndTag-->
                </div>
                <hr style="width:95%;"

            </p>
            <div style="font-weight:bold; font-style:italic; text-align:center;">
                <p><!--CookTypeStartTag-->Bake at 550 as Pizza about10 mins or done<!--CookTypeEndTag--></p>
            </div>
            <!--MealTypeStartTag--><!--Dinner,Lunch--><!--MealTypeEndTag--><div style="float:left; width:300px;">
                <div style="font-size:16pt; color:#C47451; padding-left:10px;">Ingredients:</div>
                <div style="color:#4E8975; font-size:12pt; padding-left:10px; padding:5px;">
                    <ul style="list-style-type: disc;"><!--RecipeIngredientsStartTag--><li>1 1/2 cups Water (luke-warm)</li><li>1 package Yeast</li><li>1 cup Wheat Flour</li><li>3 cups Bread Flour</li><li>1/8 tsp Salt</li><li>1/8 tsp white pepper</li><li>1/8 tsp Garlic Powder</li><li>Parmesan Cheese</li><li>1 tbsp Olive Oil</li><!--RecipeIngredientsEndTag--></ul>
                </div>
            </div>
            <div style="font-size:16pt; width:350px; color:#C47451; padding-bottom:5px; padding-left:10px;">Instructions:</div>
            <div style="color:#000000; font-size:12pt; width:350px; padding-left:10px;">
                <!--RecipeInstructionsStartTag--><p>1. Bloom yeast in luke-warm water, about 10 mins.</p><p>2. Combine dry ingredients and cheese.</p><p>3. Make well, pour in yeast water, combine until liquid absorbed.</p><p>4. Knead on table 10-15 times.</p><p>5. Coat rising bowl with olive oil, let dough rise about an hour.</p><p>6. Punch down, knead 5-7 times, quarter, let rise another 10-15 mins.</p><p>7. Create pizza/calzone crust by hand.</p><!--RecipeInstructionsEndTag-->
            </div>

        <div style="font-style:italic; text-indent:15px; color:#6666ff;">
            <p>Notes: <b><!--RecipeNotesStartTag--><!--RecipeNotesEndTag--></b></p>
        </div><!--RecipeEndTag-->*@
